[Unit]
Description=Handle USB memorystick
After=init-done.service dev-%i.device
BindsTo=dev-%i.device
Conflicts=rescue.target actdead.target factory-test.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/mount-usbstick.sh add %i
ExecStop=/usr/sbin/mount-usbstick.sh remove %i
